name: Branching Conditions

on:
  pull_request:
    types: [ closed ]
    branches:
      - main
      - staging
      - development


jobs:
  check-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Check Branch
        run: |
            if [ "$GITHUB_HEAD_REF" == "main" ]; then
              if [ "$GITHUB_BASE_REF" != "staging" ]; then
                echo "Only staging branch can merge into main branch"
                exit 1
              fi
            elif [ "$GITHUB_HEAD_REF" == "staging" ]; then
              if [ "$GITHUB_BASE_REF" != "development" ]; then
                echo "Only development branch can merge into staging branch"
                exit 1
              fi
            elif [ "$GITHUB_HEAD_REF" != "main" ] && [ "$GITHUB_HEAD_REF" != "staging" ] && [ "$GITHUB_BASE_REF" != "development" ]; then
              echo "Other than main and staging branch any branch can merge with development branch"
              exit 1
            fi
